{% extends 'base.html' %}

{% block title %}About Ranchi{% endblock title %}

{% block body %}

<div class="container">

    <div class="row featurette py-4">
        <div class="col-md-7">
            <h2 class="featurette-heading ">About Ranchi<br><span class="text-muted">Explore the city</span>
            </h2>
            <p > Ranchi is the capital of the newly formed state of Jharkhand- The Land of Forests. The City is named after a local bird <strong> Rinchi, </strong> mostly found in and around the famous “Pahadi Mandir”, the Hill Temple in Ranchi.</p>
            <p> Located on the southern part of the Chota Nagpur Plateau, Ranchi is richly endowed with enviable natural beauty and picturesque environs. It has numerous waterfalls located in the close vicinity of the city and is known as the <strong> City of Waterfalls and Lakes.</strong> Because of its hilly topography, it enjoys a pleasant climate throughout the year.</p>
            <p>The city is blessed with mineral resources in abundance and is known as the <strong> Manchester of the East.</strong> It accounts for nearly eighteen percent of the national mineral production. With six industrial areas, it is an integral part of the industrial setup of the state of Jharkhand along with Jamshedpur and Bokaro.</p>
        </div>
        <div class="col-md-5">
            <img src="static/ranchi1.png" class="d-block w-100" height="500" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Deori Temple <br><span class="text-muted">History does not belong to us, we belong to it.</span>
            </h2>
            <p>Located about 60 km from Ranchi, Deori Temple gained immense popularity after Indian cricketer, Mahendra Singh Dhoni, made repeated visits to it to seek Goddess Durga's blessings. Dating back to the <strong> 10th and 11th centuries, </strong> it stands as a proud reminder of the rich heritage of Jharkhand.</p>
            <p>The grand architecture of the temple is a visual treat for visitors as its sandstone walls are decorated with intricate bas-reliefs featuring various deities. Locals refer to the temple as Solahbhuji Temple as it houses an idol of the <strong> 16-armed Goddess Durga </strong> that is said to be 700 years old. The best time to visit the temple is during the festival of Holi during March, which is celebrated with great pomp and show.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="static/deori.jpg" class="d-block w-100" height="400" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Climate <br> <span class="text-muted">Go with the flow.</span></h2>
            <p>During winter, the temperature reaches around <strong> 1 degree in some parts of Ranchi </strong> (this mostly happens around December-January). The sun shines brightly and clearly but isn’t scorching. If you love winters, you will love it here.</p>
            <p>During the rainy season, it rains. It rains a lot. Also, there is frequent <strong> cyclonic rainfall</strong> during the season, some lasting 2–3 days at once with continuous rains. The amount of rain can’t be compared to the coastal areas or cities near the coastline like Bhubaneswar, but the rainfall is of ample amount.</p>
        </div>
        <div class="col-md-5">
            <img src="static/ranchiweather.png" class="d-block w-100" height="400" width="500">

        </div>
    </div>

    <hr class="featurette-divider">



</div>


{% endblock body %}