{% extends 'base.html' %}

{% block title %}About Ranchi{% endblock title %}

{% block body %}

<div class="container">

    <div class="row featurette py-4">
        <div class="col-md-7">
            <h2 class="featurette-heading ">Patratu Valley<br><span class="text-muted">Feel the nature</span>
            </h2>
            <p >40 kilometres from Ranchi lies the scintillating Patratu Valley. With sparkling waters of the Patratu Dam on one side and lush green trees flanked along the other, driving along the Ghat of the Patratu Valley is truly a stupendous experience.</p>
        </div>
        <div class="col-md-5">
            <img src="static/patratu1.jfif" class="d-block w-100" height="490" width="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Panchghagh Falls <br><span class="text-muted">Want some relaxation?</span>
            </h2>
            <p>The design of road also atttracts the tourist. Riding on these roads will give an amazing experience.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="static/patratu2.jpg" class="d-block w-100" height="500" width="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Patratu Dam <br> <span 
            class="text-muted">Take a ride</span>
        </h2>
        <p>Patratu dam is a beautiful tourist spot and people also visit here for picnic. Adjacent to the dam, there is an ancient temple named Panchawahini known for its significant religious value.</p>
        <p>The Patratu dam was constructed with the aim to supply water to Patratu Thermal Power Station but the twisting way of architecture on hills and beautiful sceneries made it great tourist attraction. This dam holds storage capacity of 81 square miles. Water from the river Nalkarni and from the waterfalls of the hills surrounding this dam is stored in this dam.</p>
        </div>
        <div class="col-md-5">
            <video width="500" height="500" controls autoplay>
            <source src="static/dam.mp4" type="video/mp4"></video>
        </div>
    </div>

    <hr class="featurette-divider">

</div>


{% endblock body %}