{% extends 'base.html' %}

{% block title %}About Ranchi{% endblock title %}

{% block body %}

<div class="container">

    <div class="row featurette py-4">
        <div class="col-md-7">
            <h2 class="featurette-heading ">Dassam Fall<br><span class="text-muted">Feel the sound of water</span>
            </h2>
            <p >The Dassam Falls is situated at 34 km from the city of Ranchi on Ranchi-Tata road near the Taimara village. The place is also known as <strong> Dassam Garh.</strong> The major water source of this waterfall is <strong> River Kachni,</strong> which falls here from an altitude of 144 feet. The unique feature of this fall is that when the waterfall is seen, 10 water streams are also seen falling.</p>
            <p>The waterfall is basically a Nick Point, which means that it has been developed over the years due to the break in the rocky slopes in a longitudinal manner. For the same reason, it is not ideal to swim or to step into the water as the current is strong and the ground is uneven. Other than that, the region echoes with the gurgling sound of water which is like music to the ears, and is perfect to relax and rejuvenate.</p>
        </div>
        <div class="col-md-5">
            <img src="static/dassam.jpg" class="d-block w-100" height="490" width="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Panchghagh Falls <br><span class="text-muted">Want some relaxation?</span>
            </h2>
            <p>Panchghagh Falls is 5 kilometers from Khunti and about is 55 kilometers from Ranchi. Many tourists visiting Ranchi are attracted here due to its eternal beauty, pristine surroundings and calm atmosphere. The fall’s water does not fall from great heights, still, one can almost hear the roar of the water when one arrives near it, because all the five branched-out and swirling streams hit the rocks in a very turbulent manner.</p>
            <p><strong> ‘Panch’ in Hindi means ‘five’ and ‘Ghagh’ means ‘Waterfall’. The fall comprises of five different streams and hence the name Panchghagh.</strong></p>
            <p>The Panchghagh falls originate from river Banai which split itself into five different streams before making the fall.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="static/panch.jpg" class="d-block w-100" height="500" width="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hundru Falls <br> <span class="text-muted">Go with the flow.</span></h2>
            <p>The Hundru Falls at Ranchi is situated at a distance of 45 kilometers from the main city of Ranchi. The Hundru Falls Ranchi is really a surprise package for the visitors who love the panoramic view of the Chota Nagpur Plateau.</p> 
            <p>You'll be reluctant to leave the charms of Hundru, a popular tourist spot. Falling from a height of 322 feet, the water hits massive black mountain ridges of basalt rocks here; the crystal white water perfectly complementing the rocks. A pelt of algae canvases the ridges with shades of orange and green and little shrubs sprout from the cuts and crevices. At the base of the falls, the rush of the water, however, mellows, forming a frothy pool where you may fancy a rejuvenating dip. <strong> This waterfall also offers a range of thrilling experiences for the adventurous.</strong> </p>
        </div>
        <div class="col-md-5">
            <img src="static/hundru.png" class="d-block w-100" height="450" width="500">

        </div>
    </div>

    <hr class="featurette-divider">



</div>


{% endblock body %}